// app global css in SCSS form
// $

$words-bg-color: $blue-2;
$math-bg-color: $green-2;
$memory-bg-color: $orange-2;

$math-bg-color-dark: $brown-10;
$words-bg-color-dark: $indigo-10;
$memory-bg-color-dark: $pink-10;

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1 1 0;
}

.transition-duration-md {
  transition-duration: 0.5s;
}

.transition-duration-sm {
  transition-duration: 0.25s;
}

.zoom-on-hover:hover {
  transform: scale(1.05);
}
.zoom-on-hover {
  transition-duration: 1s;
}

.max-width-sm {
  max-width: $breakpoint-sm;
}

.max-width-md {
  max-width: $breakpoint-md;
}

.max-width-xs {
  max-width: $breakpoint-xs;
}

.content {
  max-width: $breakpoint-sm;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, #ffffaa55, #aaffff55);
}
.body--dark .bg-gradient {
  background-image: none;
}

.q-table__bottom {
  display: none;
}

.math-table-header {
  & th,
  & .table-header {
    background-color: $math-bg-color;
    .body--dark & {
      background-color: $math-bg-color-dark;
    }
  }
}
.memory-table-header {
  & th,
  & .table-header {
    background-color: $memory-bg-color;
    .body--dark & {
      background-color: $memory-bg-color-dark;
    }
  }
}
.words-table-header {
  & th,
  & .table-header {
    background-color: $words-bg-color;
    .body--dark & {
      background-color: $words-bg-color-dark;
    }
  }
}
