// app global css in SCSS form
.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1 1 0;
}

.transition-duration-md {
  transition-duration: 0.5s;
}

.transition-duration-sm {
  transition-duration: 0.25s;
}
