$primary: #1976d2;
$secondary: #9c27b0;
$accent: #26a69a;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$body-line-height: var(--q-theme-line-height, 1.2);
$typography-font-family: var(
  --q-theme-font-family,
  "'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif"
);

$body-font-size: var(--q-theme-font-size, 20px);
$button-font-size: var(--q-theme-btn-font-size, 18px);
